<% include header %>

<nav>
  <% for (var i = 0; i < categorieen.length; i++) { %>
    <a href="/categorieen/<%- i %>"><%- categorieen[i] %></a>
  <% } %>
</nav>

<h1>NewFlash</h1>

  <% var teller = 1; %>
  <% nieuws.forEach(function(item){ %>
    <section>
        <h2>
          <a href=/items/<%- item.id %>><%- item.titel %></a>
        </h2>
        <img src="/img/<%- item.afbeeldings %>" alt="<%- item.titel %>">
        <p class="color">
          <%- item.datum %>
        </p>
        <p>
          <%- item.samenvatting %>
        </p>
        <div class="bar"></div>
    </section>
    <% teller++;}); %>


<% include footer %>
